<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/myController.js"></script>
</head>
<body>
<div ng-controller="myInfo">
    <p><b>Name:</b> {{me.name}}</p>
    <p><b>Surname:</b> {{me.surname}}</p>
    <p><b>Job Title:</b> {{me.title | uppercase}}</p>
    <p><button ng-click="incLike()">Like</button> {{me.likes | currency: "$": "2"}}</p>


    <br>
    <label>Change name:</label>
    <input ng-model="me.name">

    <br>
    <welcome-message></welcome-message>
    <div other-message></div>
</div>
</body>
</html>